header {
    text-align: center;
    padding: 2%;
    background-color: #fff;
}

.mainHeadingHolder {
    background-color: #fff;
}

.mainHeading {
    font-family: $mainFont;
    padding: 2%;
    font-size: 5rem;
}

.subHeading {
    font-family: $subFont;
    padding: 2%;
}

.categoryHeading {
    padding-bottom: 1%;
}