
$primaryColor: #7fa7ff;
$secondaryColor: #ffe093;
$accentColor: tomato;
$textColor: #131515;

$mainFont: 'Luckiest Guy', cursive;
$testFont: 'Merriweather', serif;

// breakpoints

$ipad: (max-width: 768px);
$mobileDeadZone: (min-width: 415px) and (max-width: 767px);
$iphonePlus: (max-width: 414px);
$iphone678: (max-width: 375px);
$iphone5: (max-width: 320px);
