
$primaryColor: #7fa7ff;
$secondaryColor: #ffe093;
$accentColor: tomato;
$textColor: #131515;

$mainFont: 'Luckiest Guy', cursive;
$testFont: 'Merriweather', serif;

// breakpoints
$ipad: 768px;
$iphonePlus: 414px;
$iphone678: 375px;
$iphone5: 320px;